.expenses {
  width: 67.5em;
  font-family: Poppins;
  background: #FAFAFD;
  letter-spacing: 0.008em;
  position: relative;
  display: table;
  border-collapse: collapse;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
}

.expenses__row{  
   border-top: 1px solid #D9E1EE;
}

.header {
  color: #3B4B66;
  font-weight: 400;
  font-size: .75em;
  line-height: 1.125em;
  text-align: left;
  padding-bottom: 0.3em;
}

.header__img {
  padding-right: 0.5em;
  height: auto;
  position: relative;
  top: 0.15em;
}

.header__toggle{
  cursor: pointer;
  display: inline-block;
  transition: transform .2s ease-in-out;
}

.header__toggle--rotate {
  cursor: pointer;
  display: inline-block;
  transform: rotate(180deg);
  transition: transform .2s ease-in-out;
}

.header_last {
  text-align: right;
  width: 10em;
}

.expensesItem {
  font-size: 0.875em;
  line-height: 1.375em;
  padding: 1em 0;
}

.expensesItem_tag {
  color: #556685;
  font-size: .75em;
  font-weight: 700;
  line-height: 1.125em;
  padding: 0.375em;
  background: #D9E1EE;
  border-radius: 4px;
  position: relative;
}

.expensesItem_tag:hover:after {
  font-size: 10px;
  line-height: 16px;
  background: #FFF;
  box-shadow: 0px 1px 4px rgba(0, 8, 32, 0.1), 0px 16px 32px rgba(0, 8, 32, 0.1);
  border-radius: 4px;
  bottom: 10px;
  color: #556685;
  content: attr(gloss);
  right: -9em;
  padding: 12px 20px;
  position: absolute;
  z-index: 98;
  width: 16em;
}

.expensesItem_tag:hover:before {
  border: solid;
  border-color: #FFF transparent;
  border-width: 6px 6px 0 6px;
  bottom: 4px;
  content: "";
  left: 40%;
  position: absolute;
  z-index: 99;
}

.expensesItem_approver {
  color: #6B66B3;
}

.dropdown {
  position: absolute;
  width: 6em;
  height: 6.5em;
  left: 92.3%;
  top: 2em;
  background: #FFFFFF;
  font-size: 1em;
  line-height: 1.375em;
  padding: .5em;
  display: flex;
  flex-direction: column;
  gap: .8em;
  box-shadow: 0px 1px 4px rgba(0, 8, 32, 0.1), 0px 16px 32px rgba(0, 8, 32, 0.1);
  border-radius: 4px;
  z-index: 10;
  cursor: pointer;
  -webkit-animation: animate__dropdown .15s ease-in;
          animation: animate__dropdown .15s ease-in;
}

@-webkit-keyframes animate__dropdown {
  0%   {opacity: 0; top: 1em}
  50%  {opacity: .5; top: 1.5em}
  100% {opacity: 1; top: 2em}
}

@keyframes animate__dropdown {
  0%   {opacity: 0; top: 1em}
  50%  {opacity: .5; top: 1.5em}
  100% {opacity: 1; top: 2em}
}